/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** Main ********/

body {
	color:black;
	font: size 14px;;
	font-family: 'Lato', sans-serif;
}

.fixed-content {
	position:fixed;
	z-index: 10;
	width:100%;
	height:100%;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.content {
	width:800px;
	margin:50px auto;
}
.content-text {
	position: relative;
	float: left;
	width:450px;
}


/****** slide:fixed content on each page ********/
.slide {
	position: absolute;
	top:65px;
	left:0;
	width:100%;
	z-index: 0;
}
.slide .animatable {
	opacity:0;
	-webkit-transform:translate(0,30px);
	transform:translate(0,30px);
	-webkit-transition:opacity 0.4s ease,-webkit-transform 0.4s ease;
	transition:opacity 0.4s ease,transform 0.4s ease;

}
.slide.active.remove .animatable {
	opacity:0;
	-webkit-transform:translate(0,-20px);
	transform:translate(0,-20px);
}

.slide.active .animatable {
	opacity:1;
	-webkit-transform:translate(0,0);
	transform:translate(0,0);

}
.slide.active {
	z-index: 10;
}

/****** text ********/
h2 {
	font-size: 64px;
	font-weight:bolder;
	color: #745130;
	margin-bottom:20px
}
p {
	font-size: 14px;
	line-height:1.4;
	margin-bottom:10px;
}
.normal-text {
	font-size: 16px;
	line-height:1.4;
	margin-bottom:10px;
}
h3 {
	font-size: 16px;
	line-height:1.4;
	margin-bottom:10px;
	margin-top: 30px;
	font-weight:900;

}
a:link,
a:visited {
	color:white;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
.arrow {
	position: relative;
	padding-right:15px;
}

.arrow:before,
.arrow:after {
	content:'';
	position: absolute;
	right:0;
	top:4px;

	width:2px;
	height:12px;
	background: white;
}
.arrow:before {
	transform: rotate(45deg);
	top:12px;
}
.arrow:after {
	transform: rotate(-45deg);

}

/****** panel:layered images under slide ********/
.inner {
	position: relative;
	float:left;
	height:100%;
	z-index:-15;
	object-fit: cover;
}

.background {
	height:100vh;
}

/*** followed selectors are reserved for potential future use ***/
/*** TODO: add tea-making utensil as background image ***/
.home {

	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fd0ea), color-stop(100%, #4BB7B9));
	background:-webkit-linear-gradient(top, #4fd0ea 0%, #4BB7B9 100%);
	background:linear-gradient(to bottom, #4fd0ea 0%, #4BB7B9 100%); */
	/* background: url("images/bg/dark.svg");
	background-size:contain; */
	background-repeat: no-repeat;
}


.panel1 {
	/* background: #F2E8D9; */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4BB7B9), color-stop(100%, #6AB981));
	background: -webkit-linear-gradient(top, #4BB7B9 0%, #6AB981 100%);
	background: linear-gradient(to bottom, #4BB7B9 0%, #6AB981 100%); */
	/* background: url("images/bg/shallow.svg");
	background-size:contain; */
	background-repeat: no-repeat;
}

.panel2 {
	/* background: #E9D9BF; */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6AB981), color-stop(100%, #AAD292));
	background: -webkit-linear-gradient(top, #6AB981 0%, #AAD292 100%);
	background: linear-gradient(to bottom, #6AB981 0%, #AAD292 100%); */
	/* background: url("images/bg/medium.svg");
	background-size: contain; */
	background-repeat: no-repeat;
}

.panel3 {
	/* background: #CBAC8B; */
	/* background: url("images/bg/dark.svg");
	background-size: contain;
	background-repeat: no-repeat; */
	/* z-index:-50; */
	background-repeat: no-repeat;
}

/****** choosing base tea ********/

.image-item {
	width: 150px;
	height: 150px;
	margin: 10px;
	padding-top: 50px;
	align-content: center;
	
}

.image-item-circle {
	width: 100px;
	height: 100px;
	background-color:#FDF7E3;
	border-radius: 50%;
	z-index: 0;
	position:absolute;
	margin-top: 40px;
	margin-left: 25px;
}
.image-item-circle:hover {
	border: 2px;
	border-color: #000000;
}

.image-image {
	width: 150px;
	height: 150px;
	z-index: 1;
	position:absolute;
}

.image-image:hover {
	cursor: pointer;
}

.image-caption {
	text-align: center;
	margin-top: 160px;
}

.base-container {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	left: -50px;
}

/****** topping ********/

.topping-item {
	width: 80px;
	height: 80px;
	margin: 10px;
	align-content: center;
}
.topping-item:hover {
	cursor:pointer;
}
.topping-circle {
	width: 60px;
	height: 60px;
	background-color:#FDF7E3;
	border-radius: 50%;
	z-index: 0;
	position:absolute;
	margin-left: 10px;
	
}

.topping-image {
	width: 80px;
	height: 80px;
	z-index: 1;
	position:absolute;
	margin-top: -10px;
}
.topping-image:hover {
	cursor: pointer;
}
.topping-caption {
	text-align: center;
	margin-top: 60px;
	text-decoration: 1px dotted black underline;
	text-underline-offset: 5px;
}

/****** bubble tea cup ********/

.device-frame {
	position: relative;
	float:right;
}
.device {
	width:266px;
	position: relative;
}
.device-slide {
	position:absolute;
	top:33px;
	left:10px;
	z-index: -7;
	text-align:center;
}
.device-slide1 {
	width: 700px;
	height:700px;
	left: -350px;

	font-size:3em;
}

/*** position of the cup and topping ***/
.bubble-tea {
	height: 600px;

}

.bubble-tea-image0 {
	height: 25%;
	bottom: 30px;
	left: 230px;
	position: absolute;
	z-index: 4;
}

.bubble-tea-image1 {
	height: 25%;
	bottom: 30px;
	right: 230px;
	position: absolute;
	z-index: 5;
}
.bubble-tea-image2 {
	height: 25%;
	bottom: 60px;
	left: 210px;
	position: absolute;
	z-index: 2;
}

.bubble-tea-image3 {
	height: 25%;
	bottom: 60px;
	right: 210px;
	position: absolute;
	z-index: 3;
}

.bubble-tea-image4 {
	height: 25%;
	bottom: 90px;
	left: 260px;
	position: absolute;
	z-index: 0;
}

.bubble-tea-image5 {

	position:absolute;
	margin-left: -25px;
	height: 600px;
	align-self: left;
	z-index:20;
}


#baseTeaImage {
	margin-top: 50px;
	height: 600px;
	align-self: left;

}

/* refer to W3School https://www.w3schools.com/css/css_tooltip.asp */
/******* Tooltip container *******/
.tooltip {
	position: relative;
	/* border-bottom: 1px dotted black; If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 6px;
	line-height: 1.4;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 10;

	width: 240px;
	top: 100%;
	left: 50%;
	margin-left: -120px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }



/****** layout change for mobile size ********/
@media (max-width:630px) {
	h1 {
		font-size:15vw;
		margin-left: 15px;
	}
	h2 {
		font-size:12vw;
		margin-left: 15px;
	}
	.normal-text{
		font-size:2vw;
		margin-left: 15px;
		width:60vw;
	}
	
	.image-item {
		width: 90px;
		height: 90px;
		padding: 3px;
		padding-top: 30px;
		align-content: center;
		
	}
	
	.image-item-circle {
		width: 60px;
		height: 60px;
		background-color:#FDF7E3;
		border-radius: 50%;
		z-index: 0;
		position:absolute;
		margin-top: 15px;
		margin-left: 15px;
		
	}
	
	.image-image {
		width: 90px;
		height: 90px;
		z-index: 1;
		position:absolute;
	}
	
	.image-image:hover {
		cursor: pointer;
	}
	
	.image-caption {
		font: size 1.5%;
		text-align: center;
		margin-top: 96px;
	}
	
	.base-container {
		display: flex;
		flex-wrap: wrap;
		width: 70vw;
		left: -50px;
	}
	
	.image-selected {
		width: 20px;
		height: 20px;
	}
	
	.topping-item {
		width: 60px;
		height: 60px;
		margin: 4px;
		margin-top: 30px;
		align-content: center;
	}
	
	.topping-image {
		width: 60px;
		height: 60px;
		z-index: 1;
		position:absolute;
		margin-top: -10px;
	}

	.topping-caption {
		font-size:1.5vw;
		text-align: center;
		margin-top: 45px;
		text-decoration: 1px dotted black underline;
		text-underline-offset: 5px;
	}

	.device-frame {
		position: relative;
		float:right;
		width:40%;
	}

}
